{% extends 'base.html' %}
{% block title %}
Community fridge - Donation
{% endblock %}
{% block body %}
		<!--works start -->
		<section id="works" class="works">
			<div class="container">
				<div class="section-header">
					<h2>Donation History</h2>
					<p></p>
				</div><!--/.section-header-->
				<div class="works-content">
					<div class="row">
                        {% for i in donate %}
						<div class="col-md-4 col-sm-6">
							<div class="single-how-works">
								<div class="single-how-works-icon">
                                    <img src="{{i.Pic}}" style="height: 100px;">
								</div>
								<h2>{{i.Item}}</h2>
                                <p>Quantity : {{i.Quantity}}</p>
                                <p>Description : {{i.Description}}</p>
                                <p>Location : {{i.Location}}</p>
                                <p>Contact_no : {{i.Contact_no}}</p>
                                <p>Status of acceptance : {{i.Status}}</p>
                                
								<a href="deletedonateitem/{{i.id}}"><button class="welcome-hero-btn how-work-btn">
									Delete
								</button></a>
							</div>
						</div>
                        {% endfor %}
						
						
					</div>
				</div>
			</div><!--/.container-->
		
		</section><!--/.works-->
		<!--works end -->
{% endblock %}