{% extends 'base.html' %}
{% block title %}
Community fridge - Donation
{% endblock %}
{% block body %}
		<!--works start -->
		<section id="works" class="works">
			<div class="container">
				<div class="section-header">
					<h2>Requisition History</h2>
					<p></p>
				</div><!--/.section-header-->
				<div class="works-content">
					<div class="row">
                        {% for i in item %}
						<div class="col-md-4 col-sm-6">
							<div class="single-how-works">
								<div class="single-how-works-icon">
								</div>
								<h2>{{i.Email}}</h2>
                                <p>Quantity : {{i.ItemType}}</p>
                                <p>Description : {{i.ItemName}}</p>
                                <p>Location : {{i.Location}}</p>
                                <p>Contact_no : {{i.PhoneNumber}}</p>
                                <p>Quantity : {{i.Quantity}}</p>
								<p>Status : {{i.Status}}</p>
								<a href="deleterequestitem/{{i.id}}"><button class="welcome-hero-btn how-work-btn">
									Delete
								</button></a>
							</div>
						</div>
                        {% endfor %}
						
						
					</div>
				</div>
			</div><!--/.container-->
		
		</section><!--/.works-->
		<!--works end -->
{% endblock %}